
<div class = "playListBox">
  <div class="playlist-name">
    {{playListName}}
  </div>
    <ol class = "playLists">
    {{#each list}}
      <li>{{title}} - {{artist}}</li>
      {{/each}}
  </ol>
</div>
