<div class="playlistBox">
  <h4 class="playListName">Good Songs</h4>
  <!-- {{playListName}} -->
    <div class="playListContentBox">
      {{#each songListHolder}}
        <p id="title">
          {{title}}
        </p>
        <p id="artist">
          {{artist}}
        </p>
      {{/each}}
    </div>
</div>
