
<div class = "playListBox">
  <div class="playlist-name">
    {{playListName}}
  </div>
    <div class = "playLists">
    {{#each list}}
      <div class="title-list">{{title}}</div>
      <div class="artist-list">{{artist}}</div>
    {{/each}}
  </div>
</div>
