<div class = "add-song-info">
   <p class = "Title"> Title:
     <input type="text" class="Song-input title{{side}}" maxLength="33" placeholder="Song title">
   </p>

   <p class = "Artist"> Artist:
     <input type="text" class="Song-input artist{{side}}" maxLength="18" placeholder="Artist Name">
   </p>

  <button type="button" class="add-song add-song-{{side}}" onclick="buttonpress();">Add Song</button>
</div>
