<div class = "add-song-info">
   <p class = "Title"> Title:
     <input type="text" id="Song-input title{{side}}" placeholder="Input here to search">
   </p>

   <p class = "Artist"> Artist:
     <input type="text" id="Song-input artist{{side}}" placeholder="Input here to search">
   </p>

  <button type="button" class="add-song">Add Song</button>
</div>
