<!DOCTYPE html>
<html>
  <head>
    <meta charset="uft-8">
    <title>Mixer - {{title}}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js" defer></script>
    <script src="/templates/playListTemplate.js" charset="utf-8" defer></script>
    <script src="/templates/saveTemplate.js" charset="utf-8" defer></script>
    <script src="/mixerMainFunction.js" charset="uft-8" defer></script>

    <link rel="stylesheet" href="/Css/buttonStyle.css" media="screen">
    <link rel="stylesheet" href="/Css/Header.css" media="screen">

  </head>

    {{>headerTemplate}}

  <body>
    {{{body}}}
  </body>

</html>
