<!DOCTYPE html>
<html>
  <head>
    <meta charset="uft-8">
    <title>Mixer - {{title}}</title>

    <script> src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js" defer></script>

    <link rel="stylesheet" href="/Css/buttonStyle.css" media="screen">
    <link rel="stylesheet" href="/Css/Header.css" media="screen">

    <!-- <script src="/index.js" charset="utf-8" defer></script> -->

  </head>

  {{>headerTemplate}}

  <body>
    {{#if home}}
      {{>createButtonTemplate}}
      <div class="playlistBoxContainer">
        <h2 class="playlistsTitle">Playlists</h2>
        {{#each songListHolder}}
          {{>playlistBoxTemplate}}
        {{/each}}
      </div>
    {{else if newPlaylist}}
      <div class="Playlist">
        {{>songInfoTemplate}}
        {{>playListTemplate}}
      </div>
      <div class="Playlist">
        {{>songInfoTemplate}}
        {{>playListTemplate}}
      </div>
    {{else if playlist}}
      <div class="playlist">
        {{>songList}}
      </div>
      <div class="playlist">
        {{>songList}}
      </div>
      <div class="newPlaylist">
        {{>songList}}
      </div>
    {{/if}}
  </body>
</html>
