<div class="name-playlist-containter">
  <input type="text" class="name-playlist" maxLength="18" placeholder="Name Playlist">
</div>
<div class="mix">
  <h3> How often would you like to switch between playlists:</h3>
  <select id="mix-level">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</div>
<div>
    <div class = "mix-song-adders">
       {{#each playlists}}
          <div class="add-songs-container {{side}}">
             {{>songInfoTemplate}}
             {{>playListTemplate}}
          </div>
       {{/each}}
    </div>
</div>

<div class="mix-playlists">
  <button id='mix-button'> Mix Playlists </button>
</div>

<div id="mixlist-location">

</div>
