<div class = "songAdder">
   <div class="Playlist">
     {{>songInfoTemplate}}
      {{>playListTemplate}}
   </div>
   <div class="Playlist">
     {{>songInfoTemplate}}
     {{>playListTemplate}}
   </div>
</div>
