{{#each list}}
<div class="playlist">
  {{>playListTemplate}}
</div>
{{/each}}
<!-- <div class="playlist">
  {{>playListTemplate}}
</div>
<div class="newPlaylist">
  {{>playListTemplate}}
</div> -->
