<div class="playlist-container">
  <h2 class='mixTitle'>{{title}}</h2>
    <div class="playlist-page-container">
      {{#each playlist}}
         <div class="playlist">
           {{>playListTemplate}}
         </div>
      {{/each}}
    </div>
</div>
