body{
    background-color: #E2FAFF;
    margin: 0px 0px 0px 0px;
}

header {

    background-color: blue;

}

.Nitem{
      display: inline;
      padding-right: 10px;
      padding-left: 10px;

}

.navbar{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: blue;

}

.Mixer-Title a{
    color: White;
    font-size: 50px;
    text-decoration: none;
}

.Mixer-Title a:hover {
  color: #ececec;

}

.navbar-search{
    float: right;

}

#navbar-search-input{
    background-color: #EEEEEE;
    border: white solid .1px;

}

#navbar-search-input:focus{
    background-color: white;

}


#Mixer-Search{
    background-color: #319df6;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    width: 20px;
    box-shadow: 2px 2px 10px grey;
}

#Mixer-Search:hover{
    cursor: pointer;
    background-color: #1864dd;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    width: 20px;
    box-shadow: 2px 2px 10px grey;
}



.playlistsTitle{
   background-color: blue;
   color: white;
   padding-left: 55px;
   font-size: 30px;
}

.playlistBoxContainer{
       color: white;
       margin-left: 20px;
       display: flex;
       flex-wrap: wrap;
}

.playListName a{
    margin-down: 0px;
    text-decoration: none;
    color: white;
}

.playListBox {
  border: black solid 1px;
  background-color: #a3c1f0;
  color: white;
}

.playlistBox{
       border: black solid 1px;
       background-color: blue;
       margin: 5px 20px 5px 20px;
       padding: 5px 25px 5px 25px;
       width: 130px;
       height: 120px;
}


.add-song{
    background-color: #319df6;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 150px;
    box-shadow: 2px 2px 10px grey;
}

.add-song:hover{
    cursor: pointer;
    background-color: #1864dd;

}


.song-input{
    background-color: #EEEEEE;
    border: black solid .1px;

}

.song-input:focus{
    background-color: white;
}

.songAdder{
     color: white;
     display: flex;

}

.playlist{
     background-color: blue;
     margin: auto;
     width: 50%;
     padding: 10px;
     font-size: 15px;
     color: black;
}


.mixTitle{
   background-color: #a3c1f0;   
   padding: 2% 0% 2% 3%;
   margin-top: 0;
   color: white;
   font-size: 30px;
}

.mix{
    margin-top: 0px;
    background-color: #a3c1f0;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

.add-song-info{
   text-align: center;
  
}

.add-songs-container{
    background-color: blue;
    color: white;
       
}

.mix-song-adders{
    display: flex;
    justify-content: center;  
    width: 100%; 
}


.left{
    padding: 0% 3% 0% 40%;

}

.right{
    padding: 0% 40% 0% 3%;
}

.mix-playlists{
  padding-top: 5%;  
  display: flex;
  align-items: center;
  justify-content: center;
}

#mix-button{
    background-color: #319df6;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    box-shadow: 2px 2px 10px grey;
}

#mix-button:hover{
    cursor: pointer;
    background-color: #1864dd;
}

.saveButton{
    background-color: #319df6;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px 10px grey;
    margin-left:2%;
}

.saveButton:hover{
    cursor: pointer;
    background-color: #1864dd;
}

