
body{
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #E2FAFF;
    margin: 0px 0px 0px 0px;
}

header {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #01579B;

}

.navlist {
  padding-bottom: 14px;
  margin-bottom: 0px;
  margin-top: 3px;
}

.Nitem{
      display: inline;
      padding-right: 10px;
      padding-left: 10px;
}

.navbar{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #01579B;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.Mixer-Title a{
    color: White;
    font-size: 50px;
    text-decoration: none;
    text-shadow: 1px 2px rgba(0, 0, 0, .2), 1.5px 5px rgba(0, 0, 0, 0.19);
}

.Mixer-Title a:hover {
  color: #ececec;

}

.navbar-search{
    float: right;
    padding-top: 16px;
    padding-right: 45px;
}

#navbar-search-input{
    background-color: #EEEEEE;
    border: white solid .1px;
    padding: 2px;
    font-size: 14px;
    background-color: #eee;
    border-radius: 2px;
    height: 22px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

#navbar-search-input:focus{
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);

}

#Mixer-Search{
    background-color: #319df6;
    border: none;
    border-radius: 10%;
    color: white;
    /* padding: 12px; */
    padding-top: 6px;
    padding-bottom: 22px;
    padding-left: 8px;
    padding-right: 22px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    height: 5px;
    width: 5px;
    font-size: 14px;
    /* box-shadow: 2px 2px 10px grey; */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

#Mixer-Search:hover{
    cursor: pointer;
    background-color: #1864dd;
    border: none;
    border-radius: 10%;
    color: white;
    /* padding: 12px; */
    padding-top: 6px;
    padding-bottom: 22px;
    padding-left: 8px;
    padding-right: 22px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    height: 10px;
    width: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 2px 2px 10px grey; */
    box-shadow: none;
    /* font-size: 15px; */
}

#Mixer-Search:focus{
  outline: none;
}

.playlistsTitle{
   background-color: #01579B;
   color: white;
   padding-left: 55px;
   font-size: 30px;
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.playlistBoxContainer{
       color: white;
       margin-left: 20px;
       display: flex;
       flex-wrap: wrap;
}

.playListName a{
    margin-down: 0px;
    text-decoration: none;
    color: white;
}

.playListBox {
  border-radius: 10px;
  background-color: rgb(80, 132, 173);/*rgba(0, 0, 0, 0.25);*/
  max-width: 325px;
  color: white;
  font-size: 25px;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.playlistBox {
       /* border: black solid 1px; */
       background-color: #01579B;
       margin: 5px 20px 5px 20px;
       padding: 5px 25px 5px 25px;
       width: 130px;
       height: 120px;
       border-radius: 10px;
       box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.playLists {
  font-size: 15px;
}

.playlist-name {
  padding-bottom: 5px;
  border-bottom: rgba(213, 213, 213, 0.4) solid 2px;
}

.add-song {
    background-color: #319df6;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 150px;
    box-shadow: 2px 2px 10px grey;
}

.add-song:hover{
    cursor: pointer;
    background-color: #1864dd;

}


.song-input{
    background-color: #EEEEEE;
    border: black solid .1px;

}

.song-input:focus{
    background-color: white;
}

.songAdder{
     color: white;
     display: flex;

}

.playlist {
     display: inline-block;
     background-color: none;/*#01579B;*/
     border: 10px;
     width: 60%;
     margin: auto;
     padding: 10px;
     max-width: 325px;
     font-size: 15px;
     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.playlist:first-of-type {
  /* border-radius: 0px 0px 10px 10px; */
  margin-left: 15%;
  margin-right: 100px;
}

.playlist:last-of-type {
  margin-top: 50px;
  margin-left: 28%;
  display: block;
  /* border-radius: 0px 0px 10px 10px; */
}

.playlist-container {
  /* max-width: 50%; */
}

.mixTitle{
   background-color: #a3c1f0;
   padding: 2% 0% 2% 3%;
   padding: 10px;
   max-height: 30px;
   margin-top: 0;
   color: white;
   font-size: 30px;
   padding-left: 10%;
}

.mix{
    margin-top: 0px;
    background-color: #a3c1f0;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

.add-song-info{
   text-align: center;

}

.add-songs-container{
    background-color: #01579B;
    color: white;
    padding: 20px;

}

.mix-song-adders{
    display: flex;
    justify-content: center;
    width: 100%;
}


/* .left{
    padding: 0% 3% 0% 40%;
    background-color: #01579B;
    width: 100%;
}

.right{
  padding: 0% 3% 0% 40%;
  background-color: #01579B;
  width: 100%;
} */


.left{
    padding: 0% 3% 0% 40%;

}

.right{
    padding: 0% 40% 0% 3%;
}


.mix-playlists{
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mix-button{
    background-color: #319df6;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    box-shadow: 2px 2px 10px grey;
}

#mix-button:hover{
    cursor: pointer;
    background-color: #1864dd;
}

.saveButton{
    background-color: #319df6;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 20px;
    box-shadow: 2px 2px 10px grey;
    margin-left:2%;
}

.saveButton:hover{
    cursor: pointer;
    background-color: #1864dd;
}


.hidden {
  display: none;
}
