
header {

    background-color: blue;

}

/* a{

   text-decoration: none;
   color: white;
} */

body{
    margin: 0px 0px 0px 0px;
}

.Nitem{
      display: inline;
      padding-right: 10px;
      padding-left: 10px;

}

.navbar{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: blue;

}

.Mixer-Title a{
    color: White;
    font-size: 50px;
    text-decoration: none;
}

.Mixer-Title a:hover {
  color: #ececec;

}

.navbar-search{
    float: right;

}

#navbar-search-input{
    background-color: #EEEEEE;
    border: white solid .1px;

}

#navbar-search-input:focus{
    background-color: white;

}


#Mixer-Search{
    background-color: #319df6;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    width: 20px;
    box-shadow: 2px 2px 10px grey;
}

#Mixer-Search:hover{
    cursor: pointer;
    background-color: #1864dd;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    width: 20px;
    box-shadow: 2px 2px 10px grey;
}



.playlistsTitle{
   background-color: blue;
   color: white;
   padding-left: 55px;
   font-size: 30px;
}

.playlistBoxContainer{
       color: white;
       margin-left: 20px;
       display: flex;
       flex-wrap: wrap;
}

.playListName a{
    margin-down: 0px;
    text-decoration: none;
    color: white;
}

.playlistBox{
       border: black solid 1px;
       background-color: blue;
       margin: 5px 20px 5px 20px;
       padding: 5px 25px 5px 25px;
       width: 130px;
       height: 120px;
}


#Add-Song{
    background-color: #319df6;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    height: 50px;
    width: 50px;
    box-shadow: 2px 2px 10px grey;
}

#Add-Song:hover{
    cursor: pointer;
    background-color: #1864dd;

}


#Song-input{
    background-color: #EEEEEE;
    border: black solid .1px;

}

#Song-input:focus{
    background-color: white;
}

.songAdder{
     color: white;
     display: flex;

}

.add-song-info{
     margin-left: 29%;

}

.playlist{
     background-color: blue;
     margin: auto;
     width: 50%;
     padding: 10px;
     font-size: 15px;
}
