<!DOCTYPE html>
<html>
  <head>
    <meta charset="uft-8">
    <title>Mixer - {{title}}</title>

    <script> src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js" defer></script>

    <script src="/index.js" charset="utf-8" defer></script>
  </head>

  <body>
    {{#if home}}
      {{>create}}
      {{>playlists}}
    {{else if newPlaylist}}
      <div class="Playlist">
        {{>newSong}}
        {{>songList}}
      </div>
      <div class="Playlist">
        {{>newSong}}
        {{>songList}}
      </div>
    {{else if playlist}}
      <div class="playlist">
        {{>songList}}
      </div>
      <div class="playlist">
        {{>songList}}
      </div>
      <div class="newPlaylist">
        {{>songList}}
      </div>
    {{/if}}
  </body>
</html>
